@model IEnumerable<CategoryViewModel>

 <ul class="list-group">
     <li class="list-group-item">
         <a class="nav-link text-dark" asp-controller="Products" asp-action="Index">All Products</a>
     </li>
    @foreach(var item in Model)
    {
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-controller="Products" asp-action="Index">@item.Name</a>
        </li>
    }
</ul>       



<a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
$(document).ready(function () {



    $.ajax({
        type: "GET",
        url: "https://localhost:7191/api/CategoryV1",
        dataType: "json",
        success: function (result, status, xhr) {
            debugger;
        },
        error: function (xhr, status, error) {
            alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
        }
    });
});
  
</script>